<apex:page standardController="CollaborationGroup" extensions="messageboard.MessageBoardPageController" showHeader="false" standardStylesheets="false" action="{!upsertCustomSetting}">
<apex:pageBlock id="pageBlockId">

<apex:stylesheet value="{!URLFOR($Resource.messageboard__messageBoardCSS)}"/> <!-- Customized Style Sheet for the App -->

<apex:form id="frmid" >    
    <!-- To set the Title of Home Component as a Group Name, after creating a Group -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr><td id="header"><Center>{!title} </Center></td></tr>
    </table>
    
    <!--   Output Panel for the Section "Create Group", This will be shown for the First time after installation as well as This will be shown
           if somebody deleted the Public Group created for this App manually   -->
    <apex:outputPanel id="createpanelid">
    <apex:pageBlockSection id="sectionid" columns="1" rendered="{!hideCreateGroup}">
        <br/><apex:inputField value="{!objGroup.Name}" required="true" style="width:150px;height:15px;"/><br/>
        <apex:commandButton value="Create Group" action="{!createGroup}" reRender="frmid,postpanelid"/>
        <apex:outputLabel value="{!errorMsg}" rendered="{!(errorMsg!=null)}"> </apex:outputLabel>
    </apex:pageblocksection>
    </apex:outputPanel>
</apex:form>

<apex:form id="frmid2">
 <table width="100%" border="0" cellpadding="0" cellspacing="0">
 
    <!-- This is section to Post New Feed on the Group created for Message Board posts-->
    <apex:outputPanel id="postpanelid">
           <apex:pageBlockSection id="postSectionid" columns="1" rendered="{!newpostFlag}">
               <tr>
               <td colspan="2" height="0" width="80%" id="maintext"><br/><apex:inputTextarea label="Feed" value="{!objFeedItem.Body}"/><br/>
                <apex:commandButton value="Post Feed" action="{!postFeed}" reRender="showpanelid"/><br/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
                </td></tr>
           </apex:pageBlockSection>
    </apex:outputPanel>

   <!-- This is section is used to Show Latest Post Feed on the Group with its no.of Likes and Comments created for Message Board posts-->
     <apex:outputPanel id="showpanelid" rendered="{!showPostFlag}">
           <table width="100%">
           <tr><td/>
               <td height="15" width="6%" align="right">
                   <apex:actionFunction name="get" action="{!NewPost}" reRender="frmid2"/>
                   <a><apex:image onclick="get()" value="{!$Resource.messageboard__NewImage}" width="25" height="30"/></a>
              </td>
           </tr> <tr>
               <td colspan="2" height="75" width="10%" id="smolltext" > <apex:outputLabel value="{!lstFeedItem[0].body}" rendered="{!lstFeedItem.size>0}"/><br/><br/><br/> </td>
            </tr> <tr>
               <td height="15" width="6%" id="maintext">
                      <apex:outputLabel rendered="{!lstFeedItem.size>0}">  
                         <apex:outputLink id="linkid1" value="/{!lstFeedItem[0].id}" rendered="{!lstFeedItem.size>0}" target="_blank">
                               {!lstFeedItem[0].LikeCount} Like
                          </apex:outputLink>
                      </apex:outputLabel>
                </td><td>
                   <apex:outputLabel style="float:left;" rendered="{!lstFeedItem.size>0}">
                      <apex:outputLink id="linkid2" value="/{!lstFeedItem[0].id}" rendered="{!lstFeedItem.size>0}" target="_blank">
                          {!lstFeedItem[0].CommentCount} Comment
                      </apex:outputLink>
                   </apex:outputLabel>
               </td>
           </tr>
           </table>
  </apex:outputPanel>
 </table>
</apex:form>
</apex:pageBlock>
</apex:page>