<apex:page controller="SelectMultipleContacts">
  <apex:form >
  <apex:inputtext value="{!contactNames}"/>
<apex:commandButton action="{!getContacts}" value="Select Contacts"/>
</apex:form>
{!conList1}
</apex:page>